<html>
<head>
<title>PAIR MANIA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/progress.css">
	<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- font Awesome CSS -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/js/progress.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style>
	#wrapper {
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

#wrapper .main{
background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
padding-top:5%
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

#wrapper a {
	color: #eee;
	text-decoration: none;
}

#wrapper a:hover {
	text-decoration: underline;
}

#wrapper input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

#wrapper p {
	line-height: 1.5em;
}

#wrapper .clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

/* ---------- LOGIN ---------- */

#login form{
	width: auto;
}
#login, .logo{
    display:inline-block;
}

.logo{
color:#fff;
font-size:50px;
line-height: 125px;
margin-bottom:15px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 45px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;
}

#login .fb_btn{
  background: url(/fb-login.jpg) no-repeat center;
   background-size: 280px 52px;
  display: block;
  height:45px;
  width:280px;
}

#login input[type="submit"]{
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #eee;
  font-weight: bold;
  font-size:20px;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  width:280px;
}

#login form input[type="submit"],button:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}
#targetOutcome{
	padding:3px; 
	font-size:16px;
}

.list-group-item{
	padding:5px;
}

.panel-heading .bar .bar-item{
	padding: 2px 16px 5px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}

.bar-button{
    display: inline-block;
    outline: 0;
    padding: 2px 16px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
</style>

<link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet" /> 
</head>
<body style="overflow-x:hidden">
<div class='progress' id="progress_div">
    <div class='bar' id='bar1'></div>
    <div class='percent' id='percent1'></div>
</div>
<% if (!user) { %>
<div id="wrapper" class="text-center">
	<div class="main">
			<div class="row">
				<div class="col-md-12">  
				  <div id="login">
					<div class="logo">
						<img src="/Pair-Mania.png" width=280>
					</div>	
						<form id="loginForm" action="/loginForm" method="get">
							<div class = "form-group">
								<input type="text" name="username" class = "form-control" id="username" Placeholder="Username" required>
							</div>
							<div class = "form-group">
								<input type="password" name="password" class = "form-control" id="password" Placeholder="Password" required>
							</div>
							<input class="btn btn-primary btn-block" type="submit" value="Login">
						</form>
						<a href="/auth/facebook" class="btn btn-success btn-block fb_btn"></a>
						<a href="javascript:void(0)" class="pull-right btn" data-toggle="modal" data-target=".sign-up-model" style="font-size:18px">Sign Up</a>
						
					<div class="clearfix"></div>
					</div> <!-- end login -->
				</div>
			</div>	
		</div>
			
		<div class="modal fade sign-up-model" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header" style="background-color:#dff0d8;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-sign"></span></button>
					<h4 class="modal-title">Sign Up</h4>
				  </div>
				  <form class = "form-horizontal" action="/signupForm" method="get" role = "form">   
				  <div class="modal-body" >
					<div class = "form-group">
						  <label for = "firstname" class = "col-sm-4 control-label">Name *</label>
							
						  <div class = "col-sm-6">
							 <input type = "text" class = "form-control" name = "name" placeholder = "Enter Name" required>
						  </div>
					   </div>
					   
					   <div class = "form-group">
						  <label for = "username" class = "col-sm-4 control-label">Username *</label>
							
						  <div class = "col-sm-6">
							 <input type = "text" class = "form-control" name = "username" placeholder = "Enter Username" required>
						  </div>
					   </div>
					   
					   <div class = "form-group">
						  <label for = "password" class = "col-sm-4 control-label">Password *</label>
							
						  <div class = "col-sm-6">
							 <input type = "password" class = "form-control" name = "password" placeholder = "Enter Password" required>
						  </div>
					   </div>
					    
						<div class = "form-group">
						  <label for = "confirm password" class = "col-sm-4 control-label">Confirm Password *</label>
							
						  <div class = "col-sm-6">
							 <input type = "password" class = "form-control" name = "conpassword" placeholder = "Enter Password Again" required>
						  </div>
					   </div>
					   
					</div>
				    <div class="modal-footer">
						<button type = "submit" class = "btn btn-success">Submit</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
</div>	
<% } %>
<input type="hidden" id="progress_width" value="0">
</body>
</html>